.box{
    display: flex;;
    justify-content: center;
    padding: 10px ;
    gap: 10px;
}
.container{
    margin: 0;
    padding: 20px 0px;
    width: 200px;
    height: 200px;
    font-size: 20px;
    color: rgb(52, 101, 216);
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    animation: slide-in 4s forwards;
}
.container span{
    color: rgb(68, 68, 68);
    font-weight: 600;
    font-size: 2em;
}

@keyframes slide-in {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
