.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    margin: 30px 0px;
}
.footer li{
    list-style: none;
    color: rgb(68, 68, 68);
}
.footer li :hover{
    color: rgb(5, 5, 5);
}
.footer3{
    height: 130px;
}
.text{
    padding-top: 10px;
}
.footer h3{
    color: rgb(68, 68, 68);
}